---
- name: Configurar servidores
  hosts: localhost
  vars:
    host_user: "mpi"
    target_user: "ubuntu"  # Vari치vel global para o nome do usu치rio alvo
  tasks:
    - name: Remover entrada antiga de known_hosts para ansible_host1
      local_action: command ssh-keygen -f "/home/{{ host_user }}/.ssh/known_hosts" -R "172.32.0.2"
    - name: Remover entrada antiga de known_hosts para ansible_host2
      local_action: command ssh-keygen -f "/home/{{ host_user }}/.ssh/known_hosts" -R "172.32.0.3"

- name: Configurar servidores
  hosts: servers
  become: yes
  vars:
    host_user: "mpi"
    target_user: "ubuntu"  # Vari치vel global para o nome do usu치rio alvo
    ssh_key: "{{ lookup('file', '/home/' ~ host_user ~ '/.ssh/id_rsa_ansible') }}"
    ssh_pub_key: "{{ lookup('file', '/home/' ~ host_user ~ '/.ssh/id_rsa_ansible.pub') }}"
    ssh_config: "{{ lookup('file', '/home/' ~ host_user ~ '/.ssh/config') }}"
  roles:
    - role: common
    - role: nvm
    - role: golang
    - role: ssh
    - role: docker
    - role: zsh
